{{#partial "content"}}
    <div id="main">
        <div class="container page">
            <div id="main-heading container" >
                <h1>WILDLIFE TRACKER</h1>
                <br>
                <h3>Our Animals, Our Pride</h3>

            </div>

            <div class="row container main-buttons">
                <div class="col-md-4">
                    <a class="btn peach-gradient" href="/endangered/new">Add Endangered Animal</a>

                </div>
                <div class="col-md-4">
                    <a class="btn peach-gradient" href="/non-endangered/new">Add Non-Endangered Animal</a>

                </div>
                <div class="col-md-4">
                    <a class="btn peach-gradient" href="/sighting/new">Add Sighting</a>

                </div>

            </div>

        </div>



    </div>
{{/partial}}

{{> layout.hbs}}